#results{
    background-color:white;
    height: 60vh;
}



.result__cards {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  display: flex;
  animation: continous 10s linear infinite alternate-reverse ;
}

@keyframes continous {
   0%{
     transform: translateX(25%);
   }
   100%{
     transform: translateX(-25%);
   }
}

h2{
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

h3{
    font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

.result__card {
  background:black;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: white;
  padding: 2rem;
  width: 89vw;
  height: 35vh;
  text-align: center;
  transition:all 1s;
}

.result__card:hover {
  background: transparent;
  border-color: yellow;
  background-color: brown;
  color: white;
  cursor: pointer;
}


.result__card h5 {
  font-size: 0.95rem;
}

.result__card small {
  font-size: 0.9rem;
  color: var(--color-light);
}

.results-match h1{
    text-align: center;
}