#features{
    padding: 10px;
    position: relative;
    background-color: lightgreen;
}

.feature-container{
    display: flex;
    justify-content: center;
    color: green;
    text-decoration: underline;
}

.feature-container h2{
    font-size: 40px;
}


.main-container{
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.main-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}


@media screen and (max-width:440px) {

    /* Im having issues here cause the images are refusing to resize*/
    #features{
        padding: 10px;
        position: relative;
        background-color: lightgreen;
    }
    
    .feature-container{
        display: flex;
        justify-content: center;
        color: green;
        text-decoration: none;
    }
    
    .feature-container h2{     
        font-size: 40px;
        font-family: 'Poppins';
    }
   
    
    
    .main-container{
        height: 500px;
        justify-content: center;
        align-items: center;
        padding-bottom: 2%;
        width: 440px;
        height:auto;
    }
    
    .main-container img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
}